.add-property {
    width: 85vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2px;
}

.add-property-icon {
    margin-top: 5px;
}

.add-property>p {
    margin: 0;
    padding: 0;
    font-size: var(--title-small-size);
}

.add-property>p {
    margin: 0;
    font-weight: bold;
}

.add-form-property {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    row-gap: 5px;
    column-gap: 5px;
    padding: 0px;
}

.add-form-property>p {
    margin: 0;
    font-weight: bold;
    text-align: left;
}

.input-info-property {
    width: 180px;
    border: gray solid 2px;
    border-radius: 10px;
    font-size: var(--text-form-size);
    padding-inline: 10px;
    padding-block: 5px;
    text-align: center;
}

.property-dates-container {
    border: var(--light-blue) solid 2px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 5px;
    column-gap: 5px;
    padding: 5px;
}

#predial-code {
    color: var(--light-blue-opaque-color-80);
}

.property-dates-container>div>p {
    margin: 0;
    font-size: var(--nav-bar-text-size);
}

.property-economic-dates-container {
    border: var(--light-blue) solid 2px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 5px;
    column-gap: 5px;
    padding: 5px;
}

.property-economic-dates-container>div>p {
    margin: 0;
    font-size: var(--nav-bar-text-size);
}

.input-horizontal-property {
    width: 100px;
    border: gray solid 2px;
    border-radius: 10px;
    font-size: var(--nav-bar-text-size-info-system);
    padding-inline: 10px;
    padding-block: 5px;
}

.property-address-dates-container {
    border: var(--light-blue) solid 2px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 5px;
    column-gap: 5px;
    padding: 5px;
}

.property-address-dates-container>div>p {
    margin: 0;
    font-size: var(--nav-bar-text-size);
}

.horizontal-property-container {
    margin-right: -210px;
    margin-left: 40px;
}

.horizontal-property-container>div {
    position: relative;
    width: auto;
    border: gray solid 2px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 2px;
    column-gap: 2px;
    padding: 2px;
}

.horizontal-property-container>div>div>p {
    margin: 0;
    font-size: var(--nav-bar-text-size-info-system);
    text-align: center;
}

.control-button {
    width: 100%;
    justify-content: center;
    justify-items: center;
}